body {
  font-family: "Oxygen", sans-serif;
  font-size: 26px;
  color: whitesmoke;
  min-height: 75rem;
  padding-top: 4.5rem;
  background: linear-gradient(#002fa762, #002fa762), url("assets/close-up-photo-of-wooden-panel-3750272.jpg");
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 5px 5px 10rem rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 2px #002fa73b !important;
}

body.contact {
  min-height: 60rem;
}

.card-text {
  font-size: .75em
}

.navbar-brand {
  font-size: 1em;
}

.blulink {
  color: whitesmoke !important;
  text-shadow: 1px 1px 2px #002fa73b !important;

}

.blulink:hover {
  color: #002fa7 !important;
  text-shadow: .2px .2px 1px whitesmoke !important;
  text-decoration: none;
}

.card {
  background: rgba(8, 7, 49, 0.4);
}

.btn-block {
  background-color: rgba(95, 125, 160, 0.509)
}

.btn-block:hover {
  background: #002fa7;
}

.footie {
  font-size: .6em;
}

.footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
}

#klein, #klein2 {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/bc/IKB_191.jpg);
  background-position: center center;
  background-size: 150%;
}